<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/header.ejs %>
</head>

<body style="background-color: beige">

  <% include ../../partials/nav.ejs %>

  <br>
  <div class="container">

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Lista de Choferes</h2>
            <hr>
            <a href="/chofer/create" class="btn btn-primary">Registrar nuevo chofer</a>
            <hr>
            <table class="table table-bordered">
              <tr>
                <th>Cédula de Identidad</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Fecha de Registro</th>
                <th>Acciones</th>
              </tr>           
              <% choferes.forEach( (chofer) => { %>
                <tr>
                  <td><%= chofer.ci %></td>
                  <td><%= chofer.nombres %></td>
                  <td><%= chofer.apellidos %></td>
                  <td><%= chofer.fecha_registro || 'No especificado' %></td>
                  <td>
                    <!-- Ver | Editar | Eliminar -->
                    <a href="/chofer/view/<%= chofer.chofer_id %>">Ver</a> |
                    <a href="/chofer/update/<%= chofer.chofer_id %>">Modificar</a> |
                    <a href="#">Eliminar</a>
                  </td>
                </tr>
              <% }); %>
            </table>
          </div>
        </div>
      </div>

    </div><!-- row -->

  </div> <!-- container -->
  <% include ../../partials/footer.ejs %>
</body>

</html>