<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/nav.ejs %>

  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="card" id="form-card">
          <div class="card-body">
            <h2 class="card-title">Chofer: <%= `${chofer.nombres} ${chofer.apellidos} (${chofer.ci})` %></h2>
            <hr>
            <table class="table table-bordered">

              <tr>
                <td><b>Código de chofer:</b></td>
                <td><%= chofer.cod_chofer %></td>
              </tr>

              <tr>
                <td><b>Nombre(s):</b></td>
                <td><%= chofer.nombres %></td>
              </tr>

              <tr>
                <td><b>Apellido(s):</b></td>
                <td><%= chofer.apellidos %></td>
              </tr>

              <tr>
                <td><b>Telefono:</b></td>
                <td><%= chofer.telefono %></td>
              </tr>

              <tr>
                <td><b>Email:</b></td>
                <% if(chofer.email){%>
                  <td><a href="mailto:<%= chofer.email %>"></a><%= chofer.email %></td>
                <% }else{ %>
                <td><i>No especificado</i></td>
                <%}%>
              </tr>

              <tr>
                <td><b>Dirección del domicilio:</b></td>
                <td><%= chofer.direccion_domicilio %></td>
              </tr>

              <tr>
                <td><b>Fecha de Nacimiento:</b></td>
                <td><%= chofer.fecha_nacimiento %></td>
              </tr>

              <tr>
                <td><b>Fecha de Registro:</b></td>
                <td><%= chofer.fecha_registro %></td>
              </tr>

            </table>
            
            <hr>
            
            <a href="/chofer/update/<%= chofer.chofer_id %>" class="btn btn-primary">Modificar</a>
            <a href="#" class="btn btn-danger">Eliminar</a>

          </div> <!-- card-body -->
        </div> <!-- card -->
      </div> <!-- col-lg-10 -->
    </div> <!-- row -->
  </div> <!-- container -->


  <% include ../../partials/footer.ejs %>
</body>

</html>