<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/header.ejs %>
  <link type="text/css" href="/css/leaflet.css" rel="stylesheet">
</head>

<body style="background-color: beige">

  <% include ../../partials/nav.ejs %>

  <br>
  <div class="container">

    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Lista de Buses</h2>
            <hr>
            <a href="/bus/create" class="btn btn-primary">Registrar nuevo bus</a>
            <hr>
            <table class="table table-bordered">
              <tr>
                <th>Placa</th>
                <th>Codigo de Chasis</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Acciones</th>
              </tr>
              <% buses.forEach( (bus) => { %>
                <tr>
                  <td><%= bus.placa_pta %></td>
                  <td><%= bus.cod_chasis %></td>
                  <td><%= bus.marca %></td>
                  <td><%= bus.modelo %></td>
                  <td><%= bus.anio %></td>
                  <td>
                    <!-- Ver | Editar | Eliminar -->
                    <a href="/bus/view/<%= bus.bus_id %>">Ver</a> |
                    <a href="/bus/update/<%= bus.bus_id %>">Modificar</a> |
                    <a href="#">Eliminar</a>
                  </td>
                </tr>
              <% }); %>
            </table>
          </div>
        </div>
      </div>

    </div><!-- row -->

  </div> <!-- container -->
  <% include ../../partials/footer.ejs %>
</body>

</html>